# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folders
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Logs
*.log

# Secrets (make sure to use Render Env Vars instead)
*.env
.env.*
